port: 7880
rtc:
    tcp_port: 7881
    port_range_start: 50060
    port_range_end: 50160
    use_external_ip: true

keys:
    devkey: devsecret

logging:
    level: info

room:
    empty_timeout: 300
    max_participants: 50
